@mixin month-name {
  &.with-number {
    .month-name {
      text-align: left !important;
    }
  }
  .month-name {
    font-size: large;
    font-style: normal;
    font-weight: bold;
    color: aliceblue;
    text-align: center !important;
    margin-bottom: 0;
  }
}
