@use "./month-name/MonthName.scss" as name;
@use "./month-number/MonthNumber.scss" as number;

.year .month th.month-header {
  @include name.month-name;
  @include number.month-number;

  &.not-rounded {
    border-radius: 0 !important;
  }

  background-color: cadetblue;
  padding: 0.5em;
}
